<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
      <img src="/assets/download.jfif" style="display:inline-block;">
    </div>
    <div class="col-md-6">
    संघ लोक सेवा आयोग<br>UNION PUBLIC SERVICE COMMISSION
  </div>
</div>
     </div>
    <div class="col-md-2 offset-2"><img src="/assets/logo.png"></div>
    <div class="col-md-2"><img src="./assets/akam-logo.png" width=80%></div>
  </div>

</div>

<div class="container-fluid">
  <div class="row" style="background-color: blue; color: white;">
    <div class="col-md-2">About us</div>
    <div class="col-md-2">Examnation</div>
    <div class="col-md-2">recruiment</div>
    <div class="col-md-2">goverment users</div>
    <div class="col-md-2">forms &download</div>
    <div class="col-md-2">FAQ  and RTI</div>
  </div>
  <div class="row">
    <div class="col-md-12" style="background-color: blue; text-align: center; color: white;">Helpline - SC/ST/OBC/EWS/PwBD (1800-118-711)
    &nbsp;&nbsp;One Time Registration (OTR) for Examinations 
  </div>
  <div class="row">
    <div class="col-md-9" style="padding: 20px 0;"><img src="/assets/new-slide1_06aug2021 copy1.jpg" width="100%"></div>
    <div class="col-md-3" style="padding: 20px 0;"><b>What’s New</b>
      <ul><li> Notice: Communique on misleading information in social media on operation of Reserve List</li>
      <li>Formation of Panel of Invigilators in Commissions' Examinations</li>
      <li> OTR (One time registartion)</li></ul></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3"><b>About Us</b>
        <ul>
          <li>Historical Perspective</li>
          <li>Constitutional Provisions</li>
          <li>The Commission</li>
          <li>Functions</li>
          <li>Secretariat</li>
          <li>Divisions</li>
          <li>Citizen's Charter</li>
          <li>Directory</li>
          <li>Museum</li>
          <li>Virtual Tour of Museum</li>
        </ul>
    </div>
    <div class="col-md-3" style="background-color: grey; color: white;"><b>Examination</b>
      <ul>
        <li>Calendar</li>
        <li>Active Examinations</li>
        <li>Central Armed Police Forces (ACs) Examination, 2020</li>
        <li>Combined Medical Services Examination, 2020</li>
        <li>One Time Registration (OTR) for Examinations of UPSC</li>
        <li>Forthcoming Examinations</li>
        <li>CBI (DSP) LDCE, 2022</li>
        <li>SO-Steno (GD-B-GD-I) LDCE</li>
      </ul>
    </div>
    <div class="col-md-3">
      <b>Recruitment</b>
      <ul>
        <li>Advertisements</li>
        <li>Status of Lateral Recruitment Cases (Advertisement-wise)</li>
        <li>Online Recruitment Application (ORA)</li>
        <li>Status of Recruitment Cases (Advertisement-wise)</li>
        <li>Recruitment Tests</li>
        <li>Recruitment Requisition</li>
        <li>Recruitment cases kept on hold on account of Pending Litigations</li>
        <li>Representation on Question Papers</li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <li style="background-color:grey; height: 50px; text-align: center; padding-top: 10px;">Examination notification</li>
        <li style="background-color:yellow; height: 50px; text-align: center; padding-top: 10px;">recquirment advertiesment</li>
        <li style="background-color:gold; height: 50px; text-align: center; padding-top: 10px;">apply online</li>
        <li style="background-color:brown; height: 50px; text-align: center; padding-top: 10px;">admit card</li>
        <li style="background-color:darkgreen; height: 50px; text-align: center; padding-top: 10px;">written result</li>
        <li style="background-color:bisque; height: 50px; text-align: center; padding-top: 10px;">interview</li>
        <li style="background-color:green; height: 50px; text-align: center; padding-top: 10px;">final result</li>
      </ul>
    </div>
  </div>
  <div class="row" style="border: solid; background-color: #60A09A; margin-top:20px;">
    <div class="col-md-3" style="padding-top: 25px;"><img src="/assets/download.png"></div>
    <div class="col-md-3" style="padding-top: 110px;"><img src="/assets/images.jfif"></div>
    <div class="col-md-3" style="padding-top: 110px;"><img src="/assets/swach-bharat.png"></div>
    <div class="col-md-3" style="padding-top: 25px;"><img src="/assets/download.jfif"></div>
  </div>
  <div class="row">
    <div class="col-md-12" style=" border: solid; height: 40px; margin-top: 30px; background-color:grey;">External links</div>
  </div>
  <div class="row">
    <div class="col-md-9" style=" border: solid; height: 200px; margin-top: 10px; background-color:grey;"></div>
    <div class="col-md-3" style=" border: solid; height: 235px; margin-top: 10px; background-color:lightyellow;"></div>
  </div>
</div>
</div>
<!--==footer==========-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="background-color: #436B84; height:280px; margin-top: 25px; text-align:center; padding-top:40px; color: white;"> websites policies | help | ccontact us | web information manager | feedback | privacy policy | disclaimer <br> Website Content Managed by © Content Owned by Union Public Service Commission,<br> New Delhi, India.<br>
Designed, Developed by Akiko Sherman Infotech<br>
Last Updated: 26 Aug 2022 </div>    
  </div>
</div>
